/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

li{
    display: inline;
    text-align: center;
    padding: 7px 8px;    
}

header .container{
    display: flex;
    justify-content: space-between;
}

nav{
    padding-top: 20px;
    padding-right: 20px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.overview-hero .container{
    display: grid;
    grid-template-columns:0.45fr 0.5fr;

}

.overview-hero-image{
    padding-left: 100px;
    padding-bottom: 100px;
    
}

.cards{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap: 10px;
}

.testing .container{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    column-gap: 50px;
}

.cta{
    padding-top: 60px;
}



